*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: "Open Sans";
}

/*ALTEZZE FISSE DA RIMUOVERE*/

.h-fissa{
    height: 800px;
}

.h-quadri{
    height: 400px;
}

.h-quadrini{
    height: 140px;
}

.h-small{
    height: 100px;
}

.h-main{
    height: 2900px;
}

.h-ori{
    height: 250px;
}


/*PROPIETA' HEADER*/

.col-50{
    width: 50%;
}

header li{
    display: inline-block;
}

.bg-hd{
    background-color: rgb(255, 255, 255);
    
}

.header-container{
    margin: 0 auto;   
}

header{
    position: fixed;
    
}

/*PROPIETA' MAIN*/

                            /*JUMBOTRON*/

.jumbo{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 150px;
}

.mg-bot{
    margin-bottom: 50px;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

                            /*COLONNA CENTRALE*/

.main-container{
    width: 1000px;
    margin: 0 auto;
}

.seleziona ul{
    list-style-type: none;  
}
    
.seleziona li{
    display: inline-block;
}

                            /* 3/6 COLONNE*/


.col-33{
    width: 30%;
}

.interno{
 justify-content: space-between;   
}

.wrap{
    flex-wrap: wrap;
}


/*FOOTER*/

.col-20{
    width: 20%;
}

.fot-5{
    margin: 0 auto;
    max-width: 1200px;
}


/*PROPIETA' BODY (RIUTILIZZABILI)*/

.padd{
    padding: 20px 0;
}

.d-flex{
    display: flex;
}


.margin{
    margin: 0 10px;
}

.al-center{
    align-items: center;
}
.des{
    text-align: right;
}

.sin{
    background-color: rgb(127, 214, 255);
}

.wid-img{
    width: 850px;
}

.ju-center{
    justify-content: center;   
   }

.gap{
    gap: 20px;
}

.wd-px{
    width: 40px;
}

.w-100{
    width: 100%;
}

.border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.giu{
    align-items: flex-end;
    font-size: 40px;
}

/*COLORI STRUTTURA*/


.bg-red{
    background-color: red;
}

.bg-gre{
    background-color: green;
}

.bg-laz{
    background-color: #B4D0E6;
}

.bg-yel{
    background-color: rgb(255, 217, 0);
}

.bg-cyn{
    background-color: cyan;
}

.bg-brw{
    background-color: rgb(173, 103, 12);
}

.bg-vlt{
    background-color: blueviolet;
}

.bg-pnk{
    background-color: pink;
}

.bg-gl{
    background-color: chartreuse;
}

.bg-silv{
    background-color: silver;
}

.bg-blk{
    background-color: rgba(0, 0, 0, 0.829);
}

.bot-blu{
    background-color: #5061F6;
    padding: 10px 20px;
    display: inline-block;
}

/*PROPIETA' TESTO*/

.tex-wht{
    color: white;
}

h1{
    font-size: 5rem;
    width: 1075px;
    font-weight: bolder;
}