*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    font-family: "Open Sans";
}

.h-fissa{
    height: 800px;
}

.h-quadri{
    height: 400px;
}

.h-small{
    height: 100px;
}


/*PROPIETA' HEADER*/

.col-50{
    width: 50%;
}

header li{
    display: inline-block;
}

.bg-hd{
    background-color: darkgray;
}

.header-container{
    max-width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
}

/*PROPIETA' MAIN*/

    /*JUMBOTRON*/

.jumbo{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 200px;
}

    /* 3 COLONNE*/




/*PROPIETA' BODY (RIUTILIZZABILI)*/

.padd{
    padding: 20px 0;
}

.d-flex{
    display: flex;
}


.margin{
    margin: 0 10px;
}

.al-center{
    align-items: center;
}
.des{
    background-color: chocolate;
    text-align: right;
}

.sin{
    background-color: aquamarine;
}

/*COLORI STRUTTURA*/


.bg-red{
    background-color: red;
}

.bg-gre{
    background-color: green;
}

.bg-laz{
    background-color: lightskyblue;
}

.bg-yel{
    background-color: rgb(255, 217, 0);
}